<p-card header="{{plateNumber}}" [style]="{ width: '270px' , border: '1px solid gray', margin: '10px'}">
    <ng-template pTemplate="header" id="image-container">
        <img alt="Card" id="image-container" [src]="imageSrc" height="150" style="object-fit: contain;">
        <!--img alt="Card" id="image" src="https://primefaces.org/cdn/primeng/images/usercard.png" /-->
    </ng-template>
<p>
    Biển số: {{plateNumber}} <br>
    Hãng xe: {{vendor}} <br>
    Loại xe: {{type}} <br>
    Chủ sở hữu: {{ownerName}} 
</p>

<ng-template pTemplate="footer">
    <p-button id="editButton" label="Cập nhật" icon="pi pi-pencil" (click)="editButtonClicked()" [disabled]="editButtonDisabled"></p-button>
    &nbsp;
    <p-button id="editButton" icon="pi pi-play" (click)="startButtonClicked()" [disabled]="startButtonDisabled"></p-button>
</ng-template>
</p-card>

<div class="edit-item" *ngIf="editing">
    <h3 class="form-title">Chỉnh sửa thông tin vật phẩm</h3>
    <form [formGroup]="form" class="card flex justify-content-center" id="item-editor-form">
        <div class="flex flex-column gap-2">
            <label htmlFor="plateNumber">Biển số của xe</label> <br>
            <input type="text" pInputText name="plateNumber" id="plateNumber" formControlName="plateNumber"/> 
            <p></p>
        </div>
        <div class="form-group">
            <label htmlFor="vendor">Hãng xe</label> <br>
            <input type="text" pInputText name="vendor" id="vendor" formControlName="vendor"/>
            <p></p>
        </div>
        <div class="form-group">
            <label htmlFor="type">Loại xe</label> <br>
            <input type="text" pInputText name="type" id="type" formControlName="type"/>
            <p></p>
        </div>
        <p-button label="Xác nhận" (click)="onSubmit()"></p-button>
        <p-button label="Huỷ" (click)="onCancel()"></p-button>
    </form>

</div>