<p-card header="Plate Number" [style]="{ width: '270px' , border: '1px solid black', margin: '10px'}"><ng-template pTemplate="header">
    <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
</ng-template>
<p>
    Biển số: {{plateNumber}} <br>
    Hãng xe: {{vendor}} <br>
    Loại xe: {{type}}
</p>

<ng-template pTemplate="footer">
    <p-button id="LikeButton" icon="pi pi-thumbs-up" (click)="likeButtonClicked()" [disabled]="buttonDisabled"></p-button>
    <p-button id="DisLikeButton" icon="pi pi-thumbs-down" (click)="disLikeButtonClicked()" [disabled]="buttonDisabled"></p-button>

    <p-button id="SaveButton" icon="pi pi-save" (click)="saveButtonClicked()" [disabled]="buttonDisabled"></p-button>
    
    <p-button id="CancelButton" icon="pi pi-sync" (click)="cancelButtonClicked()"></p-button>

</ng-template>
</p-card>