<div class="card">
  <p-menubar [model]="menuItems">
      <ng-template pTemplate="start">
          <img src="https://primefaces.org/cdn/primeng/images/primeng.svg" height="40" class="mr-2" />

      </ng-template>
      <ng-template pTemplate="end">
        <div class="timer">
            Đồng hồ: {{this.currentTime | date: 'HH:mm:ss'}} GMT+7 <br>
            Xin chào {{user.name}}

        </div>
        
          <!--input type="text" pInputText placeholder="Search" class="w-full" /-->
      </ng-template>
     
  </p-menubar>
</div>

<div *ngIf="hasShowItemForm" class="card-like">
  <form>
    <p>
      Biển số <input type="text" placeholder="00A0-00000" [(ngModel)]="newItem.plateNumber" name="plateNumber">
    </p>
    <p>
      Nhãn hiệu <input type="text" placeholder="Honda Wave Alpha" [(ngModel)]="newItem.vendor" name="vendor">
    </p>
    <p>
      Loại phương tiện <input type="text" placeholder="Xe máy" [(ngModel)]="newItem.type" name="vendor">
    </p>
    <button type="submit" (click)="createItem()">Submit</button>
  </form>
</div>

<div *ngIf="hasShowSessionForm" class="card-like">
  <form>
    <p>
     Giá mua thẳng <input type="number" placeholder="Giá mua thẳng" [(ngModel)]="newSession.reversePrice" name="reversePrice"> triệu
    </p>
    <p>
     Giá khởi điểm <input type="number" placeholder="Giá khởi điểm" [(ngModel)]="newSession.initiatePrice" name="initPrice"> triệu
    </p>
    <p>
     Bước nhảy giá <input type="number" placeholder="Bước nhảy giá" [(ngModel)]="newSession.stepPrice" name="stepPrice"> triệu
    </p>
    <p>
     Thời điểm bắt đầu <p-calendar [(ngModel)]="newSession.startTime" name="StartTimePicker" [showTime]="true" [showSeconds]="true"></p-calendar>
    </p>
    <p>
     Thời điểm kết thúc <p-calendar [(ngModel)]="newSession.closeTime" name="CloseTimePicker" [showTime]="true" [showSeconds]="true"></p-calendar>
    </p>

    <form [formGroup]="formGroup">
      Chọn vật phẩm
      <p-dropdown formControlName="itemSelector" [options]="itemList" optionLabel="plateNumber">
          <ng-template let-item pTemplate="item">
              <div>{{ item.id }} - {{ item.plateNumber }}</div>
          </ng-template>
      </p-dropdown>
  </form>
  
    <button type="submit" (click)="createSession()">Submit</button>
  </form>
</div>

<div class="session-container" *ngIf="showSession">
  <div *ngFor="let session of sessionList; let i = index">
      <app-session class="session" [sessionId]="session.id" ngDefaultControl="true"></app-session>
      <div *ngIf="i%4 === 3 || i === sessionList.length - 1" class="clearfix"></div>
  </div>
</div>

<div class="item-container" *ngIf="showItem" id="item-container">
  <div *ngFor="let item of itemList; let i = index">
    <app-item class="item" [itemId]="item.id"></app-item>
    <div *ngIf="i%4 === 3 || i === itemList.length - 1" class="clearfix"></div>
  </div>
</div>

<div class="card" *ngIf="showTransaction">
  <p-table [value]="transactionList" styleClass="p-datatable-gridlines" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="caption"> Lịch sử giao dịch </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Id</th>
            <th>Số tiền</th>
            <th>Biển số</th>
            <th>Thời gian</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-transaction>
        <tr>
            <td>{{ transaction.id }}</td>
            <td>{{ transaction.money }}</td>
            <td>{{ transaction.session.item.plateNumber }}</td>
            <td>{{ transaction.created_at }}</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary"> Tổng số tiền đã đặt: {{summary}} </ng-template>
</p-table>
</div>

<div class="card" *ngIf="showOrder">
  <p-table [value]="orderList" styleClass="p-datatable-gridlines" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="caption"> Đơn hàng đã thắng </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Id</th>
            <th>Số tiền</th>
            <th>Biển số</th>
            <th>Trạng thái</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-order>
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.currentPrice }}</td>
            <td>{{ order.item.plateNumber }}</td>
            <td>{{ order.status }}</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summery"> Tổng số tiền đã đặt: {{total}} </ng-template>
</p-table>
</div>

<router-outlet></router-outlet>

  

