<div class="flex justify-content-center flex-wrap align-items-center p-4">
    <div class="p-4 shadow-2 border-round w-full lg:w-6 surface-50">
        <div class="text-center mb-5">
            <img src="https://w7.pngwing.com/pngs/117/903/png-transparent-computer-icons-bidding-auction-business-service-bid-angle-trademark-service-thumbnail.png" alt="Image" height="50" class="mb-3">
            <div class="text-900 text-3xl font-medium mb-3">OMG xin chào!</div>
            <span class="text-600 font-medium line-height-3">Bạn chưa có tài khoản?</span>
            <a routerLink="../signup" class="font-medium no-underline ml-2 text-blue-500 cursor-pointer">Tạo tài khoản mau!</a>
        </div>
    
        <div>
            <form [formGroup]="form">
                <label for="username" class="block text-900 font-medium mb-2">Tên người dùng</label>
                <input id="username" type="text" placeholder="ricky4" pInputText formControlName="username" class="w-full mb-3">
        
                <label for="password" class="block text-900 font-medium mb-2">Mật khẩu</label>
                <input id="password" type="password" placeholder="****" pInputText formControlName="password" class="w-full mb-3">
        
                <div class="flex align-items-center justify-content-between mb-6">
                    <div class="flex align-items-center">
                        <p-checkbox id="rememberme1" [binary]="true" styleClass="mr-2"></p-checkbox>
                        <label for="rememberme1" class="text-900">Lưu mật khẩu</label>
                    </div>
                    <a class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer">Quên mật khẩu?</a>
                </div>
            </form>
            <button [disabled]="loading" pButton pRipple label="Đăng nhập" (click)="onSubmit()" icon="pi pi-user" class="w-full"></button>
        </div>
    </div>
</div>

<p-toast></p-toast>
<router-outlet></router-outlet>
