<div class="card">
    <h2 class="card-header">Đăng nhập</h2>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label htmlFor="username">Tên người dùng</label> <br>
                <input type="text" pInputText formControlName="username" class="form-control"/>
                <p></p>
            </div>
            <div class="mb-3">
                <label htmlFor="password">Mật khẩu</label> <br>
                <input type="password" pInputText formControlName="password" class="form-control"/>
                <p></p>
            </div>
            <div>
                <p-button [disabled]="loading" class="btn btn-primary" (click)="onSubmit()">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                    Đăng nhập
                </p-button>
                <p></p>
                <a routerLink="../signup" class="btn btn-link">Tôi chưa có tài khoản</a>
            </div>
        </form>
    </div>
</div>
<p-toast></p-toast>
<router-outlet></router-outlet>